h1 {
    font-size: 50px;
    margin: 0 auto 0 auto;
    font-family: 'century-gothic', cursive;
    color: #7ad0df;
    line-height: 7;
    padding: 200px;
    font-weight: bold;
}

h2 {
    font-family: 'Grape Nuts', cursive;
    color: #0AA1DD;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

.top-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Robo_1.png") ;
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-container {
    background: linear-gradient(45deg);
    padding: auto;
}

.deving{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ntech{
  width: 25%;
  float: right;
  margin-right: 30px;
}

.bottom-container {
  background-color: #000000;
  padding: 20px 0 10px;
  text-align: center;
}

.algn{
  text-align: center;
}

.sponsor{
  text-align: center;
}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;

  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}


p {
    width: 50%;
    margin: auto;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

a {
    color: #0AA1DD;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #00ffbb;
}

.copyright {
    color: #2FA4FF;
    font-size: 1.55rem;
    padding: 20px 0;
    text-align: center;
}

#top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.form{
    width: 450px;
    height: 480px;
    background: linear-gradient(to top,rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    position: absolute;
    top: 180px;
    right: 80px;
    border-radius: 10px;
    padding: 25px;
}

.btn {
    width: 385px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
    text-align: center;
}

.btnn:hover {
    background: rgb(0, 0, 0);
    color: #ff7200;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #2a6354;
}

.form .link a {
    text-decoration: none;
    color: #ff7200;;
}

.log {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #2FA4FF;
}

.social-links img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-links{
    text-align: center;
}
